.form-control:focus {
  box-shadow: none;
}

.yellow-gradient {
  background: linear-gradient(to bottom, #ff9c35, #ffd019);
}

.section-bg {
  background-color: #f4f4f4;
}

input#Email {
  border-radius: 5px 0 0 5px;
}

button[type="submit"] {
  border-radius: 0 5px 5px 0;
}
